<h2>Autos registrados</h2>
<br>
<%= link_to "Agregar Auto", "autos/new", class: "boton" %>
<br><br><br>
<table class="tabla1">
	<thead>
		<th>Marca</th>
		<th>Modelo</th>
	</thead>
	<% @autos.each do |auto| %>  
	<tr>
		<td><%= auto.marca %></td>
		<td><%= auto.modelo %></td>
	</tr>
	<%end%>
</table>