
<h2><%= @auto.marca+" "+@auto.modelo %></h2>
<table class="tabla1">
<thead>
<th colspan="2"><font size="3">Piezas ingresadas</font></th>
</thead>
<thead>
<th>Nombre</th><th>Cantidad</th>
</thead>
<% @partes.each do |p|
	if p.auto_id == @auto.id %>
		<tr><td> <%= p.nombre %> </td>
			<td> <%= p.cantidad %></td></tr>
	<% end %>
<% end %>
</table>